/* Common Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px -50px 120px;
    font-size: 18px;
    font-weight: 900;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;

}

/* Prebook Styles */
.heading {
    font-size: 52px;
    /* width: 582px;
    height: 133px; */
}

.lorem {
    font-size: 16px;

}

.button {
    font-size: 16px;
    font-weight: 600px;
    display: inline-flex;
    padding: 10px 24px;
    gap: 8px;
    border-radius: 41px;
    background-color: #E02C6D;
}

.top-thumbnail {
    width: 440px;
    height: 414px;
}

.top-container {
    display: flex;
    margin: 120px;
}

/* Banner Section Styles  */
.banner-section {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 20px;
}

.banner-thumbnails a {
    margin-right: 50px;
}

/* Popular Collection Styles  */
.section-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: -100px;

}


.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 47px;
    margin: 150px;
}

.collection {
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}


.popular-thumbnail {
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin: 15px;
}

.collection-details {
    margin: 15px;
}

.more {
    color: #c42f66;
    display: inline-flex;
    font-size: 20px;
    padding: 5px 12px;
    font-weight: 800px;
    gap: 8px;
    font-weight: 600;
    transform: translate(920px);
}

/* Last Container Styles */
.last {
    display: flex;
    margin: 200px;
}

.last-container-details {
    margin-left: 90px;
}

/* Footer Styles */
footer {
    height: 200px;
    background-color: #0A0826;
    margin-top: -100px;
}

.footer-details {
    color: #FFF;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.footer-heading {}

.copyright-thumbnail {
    margin-top: -6px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-right: 35px;

}

.social-links a {
    margin-left: 30px;
    color: #FFF;
}